<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    {% if form.errors %}
       <ul>
        {% for field, errors in form.errors.items %}
            <li style="color: red;">
                {{field}}: {{ errors|join:", " }}
            </li>
        {% endfor %}
       </ul>
    {% endif %}

       
      
        

</body>
</html>